### Alpaca/Quandl API

In [27]:
# Import libraries and dependencies
import numpy as np
import pandas as pd
import os
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
%matplotlib inline

In [28]:
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()

# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# api = tradeapi.REST()
api = tradeapi.REST(alpaca_api_key, alpaca_secret_key, api_version='v2')

In [29]:
type(alpaca_secret_key)

str

#### Check Available Tickers from Alpaca Markets API

In [30]:
# Get all Asstes
assets = api.list_assets()

# Keep only tradeable assets
tradeable = [asset for asset in assets if asset.tradable ]

In [31]:
# Create a new empty DataFrame
asset_info_df = pd.DataFrame()
asset_info_df['symbol'] = pd.Series([asset.symbol for asset in assets])

# Display the first 10 asset tickers
display(asset_info_df.head(5))

  symbol
0   LSAC
1    AXP
2    OIL
3    CCA
4     CY

In [34]:
# inputs from users
answer = 'N'
while answer == 'N':
# number of stocks
    n = int(input("Enter number of tickers : ")) 
  
    # Below line read inputs from user using map() function  
    tickers = list(map(str,input("\nEnter the ticker names separated by a blank space: ").strip().split()))[:n] 
  
    print("\nList of tickers is - ", tickers)
    answer = str(input('Is this list is not correct type "N"'))

Enter number of tickers :  2

Enter the ticker names separated by a blank space:  AA FB

List of tickers is -  ['AA', 'FB']

Is this list is not correct type "N" y

In [35]:
# Set timeframe to '1D'
timeframe = '1D'

# Set start and end datetimes of 1 year, between now and 365 days ago.
end_date = datetime.now()
start_date = end_date + timedelta(-365)

# Get 1 year's worth of historical data for AAPL
df = api.get_barset(
    tickers,
    timeframe,
    limit=None,
    start=start_date,
    end=end_date,
    after=None,
    until=None,
).df

# Use the `drop` function with the `level` parameter to drop extra columns in the multi-index df
df.drop(columns=['open', 'high', 'low', 'volume'], level=1, inplace=True)
df.head()

                              AA      FB
                           close   close
time
2019-12-12 00:00:00-05:00  21.26  196.67
2019-12-13 00:00:00-05:00  20.68  194.21
2019-12-16 00:00:00-05:00  20.99  197.92
2019-12-17 00:00:00-05:00  20.70  198.38
2019-12-18 00:00:00-05:00  20.95  202.36